.site__main {
	width: 100%;
	height: auto;
}

.galary {
	width: 100%;
	height: auto;
	position: relative;
	img {
		width: 100%;
	}
}

.galary__2 {
	margin-top: -5px;
}

.galary__3 {
	position: absolute;
	left: 0;
	top: 542px;
}
